

{% block body %}
<table class='table'>
    <thead>
      <tr>
        <th>jmeno</th>
        <th>vyzkum</th>
        <th>teren</th>
        <th>technicky</th>
        <th>kreslil</th>
        <th>fotografoval</th>
        <th>cislo_nove</th>
      </tr>
    </thead>
{% for Iautorsky in entries %}
<tr>
<td>{{ Iautorsky.jmeno }}</td>
<td>{{ Iautorsky.vyzkum }}</td>
<td>{{ Iautorsky.teren }}</td>
<td>{{ Iautorsky.technicky }}</td>
<td>{{ Iautorsky.kreslil }}</td>
<td>{{ Iautorsky.fotografoval }}</td>
<td>{{ Iautorsky.cislo_nove }}</td>
</tr>
{% endfor %}
</table>


{% endblock %}


