
<h2>uvodni stranka</h2>


<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  
<p></p>
  <a href="{% url 'data' %}"><button type="button" class="btn btn-default">zobrazit data</button></a>
</form>
{% if user.is_authenticated %}

  <a href="{% url 'delete' %}"><button type="button" class="btn btn-default">editovat</button></a>
  <p></p>
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>Nejste přihlášen, můžete jen prohlížet data. </p>
  <p>Pro správu dat se prosím přihlašte </p>
  <a href="{% url 'login' %}"><button type="button" class="btn btn-default">login</button></a>
{% endif %}

